@import "color.css";

html, body  {
    height: 100%;
    margin: 0;
}

body {
    background-color: var(--main-bg);
    font: 15px/1.5 Arial, Helvetica, sans-serif;
    padding: 0;
    position: relative;
}

.container .form-container input[type=text] {
    padding: 6px;
    border: none;
    margin-left: 20px;
    font-size: 17px;
    border-radius: 5px;
}
  

.wrapper {
    min-height: 100%;
    margin-bottom: -50px;
}

.wrapper:after {
    content: "";
    display: block;
    height: 50px;
}

h2, h3, h5,p {
    color: var(--main-font-color);
}

h4 {
    font-size: 12px;
    color: var(--secondary-font-color);
}

.container {
    width: 80%;
    margin: 0px auto;
    overflow: hidden;
    min-height: 100%;
    position: relative;
}

select {
    border: none;
    background-color: inherit;
    color: var(--main-font-color);
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
    text-align-last: center;
    padding: 5px;
}

select:hover {
    background-color: var(--hover-bg);
    cursor: pointer;
}

footer {
    background-color: var(--writing-bg);
    border-top: var(--border-color) 3px solid;
    height:50px;
    text-align: center;
    color: var(--main-font-color);
}

.comment_comment {
    margin: 20px;
}

section#comments form {
    margin: 20px auto 10px 30px;
}

a {
    color: var(--main-font-color);
    text-decoration: none;
}

nav a{
    padding: 5px;
}

a:hover {
    text-decoration: underline;
}

ol {
    list-style-type: none;
    padding: 0;
}

.error-message {
    border: 2px solid rgb(131, 3, 3); 
    background-color:rgb(235, 62, 62);
    text-align:center;
    border-left:none;
    border-right: none;
    color:white;
}

.pass-score {
    background-color: white;
    border-radius:3px;
    border: 1px solid var(--border-color);
    margin: 10px 10%;
    max-width: 205px;
    min-width: 65px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left:2px;
    padding-right:2px;
}

#passScore {
    width: 65px;
    text-align:center;
    border: 1px solid var(--border-color);
    display: inline-block;
}

#passScore.lt20 {
    background-image: linear-gradient(to right, red , rgb(255, 166, 0));
}

#passScore.lt40 {
    background-image: linear-gradient(to right, rgb(255, 166, 0) , yellow);
}

#passScore.lt60 {
    background-image: linear-gradient(to right, yellow , rgb(122, 243, 8));
}

#passScore.lt80 {
    background-image: linear-gradient(to right,rgb(122, 243, 8) , rgb(17, 209, 17));
}

#passScore.lte100 {
    background-image: linear-gradient(to right, rgb(17, 209, 17) , green);
}

/*
    CHECKBOX SLIDER =========================================
*/

.switch {
    margin: 10px;
    position: relative;
    display: inline-block;
    width: 37px;
    height: 20px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    height: 20px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(15px);
    -ms-transform: translateX(15px);
    transform: translateX(15px);
}

/*
    UPVOTE AND DOWNVOTE BUTTONS SECTION =========================================
*/
.fa-arrow-circle-down, .fa-arrow-circle-up {
    color: var(--icon-color);
}

.dark .downvote[data-value="-1"] .fa-arrow-circle-down , .fa-arrow-circle-down:hover {
    color: orange;
} 

.dark .upvote[data-value="1"] .fa-arrow-circle-up , .fa-arrow-circle-up:hover {
    color: rgb(247, 247, 64);
}

.light .downvote[data-value="-1"] .fa-arrow-circle-down , .fa-arrow-circle-down:hover {
    color: red;
} 

.light .upvote[data-value="1"] .fa-arrow-circle-up , .fa-arrow-circle-up:hover {
    color: blue;
}

.upvote , .downvote {
    margin:0;
    padding:0;
    margin-top: 3px;
}

i:hover {
    cursor: pointer;
}

/* 
    MAIN HEADER ========================================== 
*/


header nav a:hover {
    background-color: var(--hover-bg);
    text-decoration: underline;
    padding: 5px;
}

header li {
    display: inline;
    padding: 0 5px;
}

header ul {
    padding: 0;
    margin: 0;
}

header h1 {
    display: inline-block;
    margin: 0;
}

header nav {
    display: inline-block;
    margin-top: 10px;
    position: absolute;
    right: 0;
}

header {
    background-color: var(--writing-bg);
    color: var(--main-font-color);
    padding: 10px;
    border-bottom: var(--border-color) 3px solid;
}

.secondary-header {
    background-color: var(--secondary-writing-bg);
    border-bottom: var(--border-color) 1px solid;
}

.form-container {
    display: inline-block;
    padding: 0;
    margin: 0;
    width: 200px;
    padding-left: 30px;
}

.form-container input:nth-child(1) {
    width: 150px;
}



 .input-block {
    background-color: var(--secondary-writing-bg);
    border: 1px solid var(--border-color);
    margin-left: auto;
    margin-right: auto;
    max-width: 750px;
    margin-top: 30px;
}

.input-block input, .input-block label, .input-block textarea{
    display: block;
    margin: 10px 10%;
    width: 27%;   
    font-size: 15px;
    padding: 0.2em;
}

#new_story.input-block input, #new_story.input-block textarea{
    display: block;
    margin: 10px 10%;
    width: 80%;   
    font-size: 15px;
    padding: 0.2em;
}

.input-block header {
    background-color: var(--writing-bg);
    border-bottom: var(--border-color) 3px solid;
    color:var(--main-font-color);
    padding: 20px;
}

.not-found {
    text-align: center;
}


.input-block h2 {
    margin: 0;
}


.input-block form {
    margin-top:20px;
}



.input-block input[type="submit"]{
    border-radius: 5px;
    border:none;
    max-width: 80px;
    padding: 0.5em;
    margin-top: 2em;
    height: 100%;
    background-color: var(--button-color);
    color: var(--main-font-color);
}   


.input-block input[type="submit"]:hover {
    background-color: var(--button-color-hover);
    cursor:pointer;
}

/*
    STORY ===================================================
*/
section#story .container {
    margin-top: 20px;
    background-color: var(--writing-bg);
    margin-bottom: 20px;
}

section#story .container h4 {
    float: left;
    padding-right: 20px;
}

.story-content {
    padding-left: 40px;
    padding-right: 40px;
}


.secondary-header h3, .secondary-header h2 {
    display: inline-block;
    padding-right: 20px;
    margin: 0;
}

.secondary-header select {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 10px;
    padding: 5px;
}

.photo-cropper {
    border-radius: 50%;
    position: absolute;
    top: 30px;
    right: 30px;
}

.addChannel * {
    display: inline-block;
}
 
.profile-pic {
    border: 1px solid var(--border-color);
    border-radius: 50%;
}

.light .comment-container .input {
    color: var(--grey-shade-5);
}

.dark .comment-container .input {
    color: rgb(226, 225, 225);
}


.dark a {
    color: wheat;
}

.light a {
    color: orangered;
}

.profile {
    position: relative;
    background-color: var(--writing-bg);
    margin: 20px auto;
}

section#edit form {
    padding: 20px 0;
}

section#edit form  * {
    border-radius:3px;
    margin: 5px 0;
    display: block;
}

section#edit label{
    font-weight: bold;
}

.channel {
    background-color: var(--writing-bg);
    margin: 10px;
    padding-left: 20px;
    border: 1px solid var(--border-color);
}

.channel * {
    display: inline-block;
}

.secondary-footer {
    margin: 20px 10%;
    border: var(--border-color) 3px solid;
}

/*
    COMMENTS ===============================================
*/

.comment-container {
    padding: 5px;
    padding-left: 40px;
}

.comment-container h4 {
    margin:0;
    padding:0;
    padding-right: 20px;
}

article.comment {
    background-color: var(--writing-bg);
    border: 1px solid var(--border-color);
    border-left: 3px solid var(--border-color);
    margin: 20px;

}

textarea {
    resize: none;
    outline: none;
    overflow: auto;
    width: 95%;
    height: 100px;
    border-radius:5px;
}

article.comment.dark-comment {
    background-color: var(--secondary-writing-bg);
}


/*
    ARTICLE STORY =======================================
*/



article.story {
    background-color: var(--writing-bg);
    position: relative;
    min-height: 80px;
    border-radius: 2px;
    border: var(--border-color) 1px solid;
    margin-top: -1px;

}



.votes-container {
    position: absolute;
    float: left;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 5px;

}


.votes-container h5 {
    padding: 0;
    margin: 0;
    text-align: center;
}

article.story .storyinfo {
    padding: 10px;
    padding-left: 30px;
    overflow: hidden;
}

article.story .storyinfo h3 {
    margin: 0;
    margin-right: 5px;
    font-size: 15px;
}

article.story .storyinfo h3 a {
    color: var(--main-font-color);
    text-decoration: none;
}

article.story .storyinfo h4 {
    margin: 0;
}

article.story .storyinfo h4 a {
    text-decoration: none;
}

article.story .storyinfo h4 a:hover {
    color: var(--grey-shade-5);
    text-decoration: underline;
}

article.story:hover {
    background-color: var(--hover-bg);
    border: 1px solid var(--border-color);
    z-index: 1;
}



/*
    SPECIFIC CASES
*/
a.dont-underline:hover {
    text-decoration: none;
}

.wrapper header form:nth-child(1) {
    width: 230px;
}


/*
    404 NOT FOUND
*/

#not_found_404 {
    text-align: center;
}



