/* Global variables */
:root {
    /* Colors */
    --main-bg-color: #eee;

    /* Section login */
    --section-login-bg-color: white;
    --section-login-border-color: #ddd;
    --section-login-footer-bg-color: #eef;

    /* Button */
    --button-bg-color: #bbf;
    --button-hover-bg-color: #aaf;



    /* Color Pallete */
    --grey-shade-0: #f9f9f9;
    --grey-shade-1: #f5f5f5;
    --grey-shade-1-5: #efefef;
    --grey-shade-2: #d3d3d3;
    --grey-shade-3: #bebebe;
    --grey-shade-4: #a9a9a9;
    --grey-shade-5: #808080;
    --grey-shade-6: #505050;
}

html, body  {
    height: 100%;
    margin: 0;
}

.wrapper {
    min-height: 100%;
    margin-bottom: -50px;
}

.wrapper:after {
    content: "";
    display: block;
    height: 50px;
}

/* Body default Variables */
body {
    font: 15px/1.5 Arial, Helvetica, sans-serif;
    padding: 0;
    background-color: var(--grey-shade-2);
    position: relative;
}

/* Global Class */
.container {
    width: 80%;
    margin: 0px auto;
    overflow: hidden;
    min-height: 100%;
}

body > .container {
    padding-bottom: 50px;
    min-height: 100%;
}

/* 
    MAIN HEADER ========================================== 
*/
body > .wrapper > header {
    background-color: #35424a;
    color: #ffffff;
    padding-top: 5px;
    min-height: 50px;
    border-bottom: #e8491d 3px solid;
}

body > .wrapper > header a {
    color: #ffffff;
    text-decoration: none;
}

body > .wrapper > header nav a{
    padding: 5px;
}

body > .wrapper > header nav a:hover {
    background-color: #303745;
    text-decoration: underline;
    padding: 5px;
}

body > .wrapper > header nav li{
    padding: 0px;
}

body > .wrapper > header ul {
    padding: 0;
    margin: 0;
}


body > .wrapper > header li {
    display: inline;
    padding: 0 20px;
}

body > .wrapper > header h1 {
    float: left;
    margin: 0;
}

body > .wrapper > header nav {
    float: right;
    margin-top: 10px;
    padding-left: 10px;
}

/*
    TITLE OF PAGE =================================================
*/

body > .wrapper > #stories >  header {
    padding-left: 5%;
    background-color: var(--grey-shade-5);
}

body > .wrapper > #stories > header > .container > h2{
    margin: 0;
    padding-top: 5px; 
    color: var(--grey-shade-1);
    float: left;
    text-transform: uppercase;
}

body > .wrapper > #stories > header > .container > form  {
    float: right;
    padding-right: 5%;
    padding-top: 5px;
}

body > .wrapper > #stories > header > .container > form > label {
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}

body > .wrapper > #stories > header > .container > form > label {
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}

body > .wrapper > #stories > header > .container > form option {
    background-color: var(--grey-shade-6);
}

body > .wrapper > #stories > header > .container > form select {
    border: none;
    background-color: inherit;
    color: white;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
    padding: 10px;
}

body > .wrapper > #stories > header > .container > form select:hover {
    background-color: var(--grey-shade-6);
    cursor: pointer;
} 

/*  
    MAIN FOOTER ===================================================
*/

body > footer {
    background-color: #35424a;
    border-top: #e8491d 3px solid;
    height:50px;
    text-align: center;
    color: white;
    width: 100%;
}

body > footer a {
    color: white;
    text-decoration: none;
}

body > footer a:hover {
    text-decoration: underline;
}

/*
    LOGIN SECTION =================================================
*/

section#login {
    background-color: var(--section-login-bg-color);
    border: 1px solid var(--section-login-border-color);
    margin-left: auto;
    margin-right: auto;
    max-width: 750px;
    margin-top: 30px;
}

section#login input{
    display: block;
    margin: 10px 10%;
    width: 50%;
    max-width: 200px;    
    min-width: 85px;
    font-size: 15px;
    padding: 0.2em;
}

section#login header {
    background-color: #35424a;
    border-bottom: #e8491d 3px solid;
    color:white;
    padding: 20px;
}

section#login h2 {
    margin: 0;
}

section#login form {
    margin-top:20px;
}

section#login footer {
    background-color: var(--section-login-footer-bg-color);
    
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10%;
}

section#login > footer > p > a {
    text-decoration: none;
    color: blue;
}

section#login > footer > p > a:hover {
    text-decoration: underline;
    color: blue;
}

section#login input[type="submit"]{
    border-radius: 10px;
    border:none;
    max-width: 80px;
    padding: 0.5em;
    margin-top: 2em;
    height: 100%;
    background-color: var(--button-bg-color);
    color: white;
}   

section#login input[type="submit"]:hover {
    background-color: var(--button-hover-bg-color);
    cursor:pointer;
}


/*
    ARTICLE STORY =======================================
*/

ol {
    list-style-type: none;
    padding: 0;
}

article.story {
    background-color: var(--grey-shade-0);
    position: relative;
    min-height: 80px;
    border-radius: 2px;
    border: var(--grey-shade-3) 1px solid;
    margin-top: -1px;

}



article.story .votes-container {
    position: absolute;
    background-color: var(--grey-shade-1);
    float: left;
    width: 50px;
    bottom: 0.5px;
    top:0px;
    left:0px;
}

article.story .votes {
    background-color: var(--grey-shade-2);
    width: 50%;
    margin: 0 auto;
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}

article.story .votes-container h5 {
    padding: 0;
    margin: 0;
}

article.story .storyinfo {
    padding: 10px;
    padding-left: 60px;
    overflow: hidden;
}

article.story .storyinfo h3 {
    margin: 0;
    margin-right: 5px;
    font-size: 15px;
}

article.story .storyinfo h3 a {
    color: black;
    text-decoration: none;
}

article.story .storyinfo h4 {
    color: var(--grey-shade-5);
    font-size: 12px;
    margin: 0;
}

article.story .storyinfo h4 a {
    color: var(--grey-shade-5);
    text-decoration: none;
    font-size: 12px;
}

article.story .storyinfo h4 a:hover {
    color: var(--grey-shade-5);
    text-decoration: underline;
    font-size: 12px;
}

article.story:hover {
    background-color: var(--grey-shade-1);
    border: 1px solid var(--grey-shade-4);
    z-index: 1;
}

article.story:hover .votes-container {
    background-color: var(--grey-shade-1-5);
}
/*  
    STORIES FOOTER ================================================
*/
#stories footer p{
    background-color: var(--grey-shade-0);
    margin-left: 10%;
    margin-right: 10%;
    font-size: 20px;
    border: 1px var(--grey-shade-3) solid;
    padding: 5px;
}

#stories footer p a {
    text-decoration: none;
    color: black;
    font-weight: bold;

}

#stories footer p a:hover {
    text-decoration: underline;
    font-weight: bold;
}


/*
    UPVOTE AND DOWNVOTE BUTTONS SECTION =========================================
*/
.fa-arrow-circle-down, .fa-arrow-circle-up {
    color: var(--grey-shade-5);
}

.downvote[data-value="-1"] .fa-arrow-circle-down {
    color: red;
} 

.upvote[data-value="1"] .fa-arrow-circle-up {
    color: blue;
}

.upvote {
    margin:0;
    padding:0;
    margin-top: 3px;
}

.downvote {
    margin:0;
    padding:0;
    margin-bottom: 3px;
}

.fa-arrow-circle-down:hover {
    color: red;
} 

.fa-arrow-circle-up:hover {
    color: blue;
}

/*
    VOTE CONTAINER AND RELATED =========================================
*/

.votes {
    border-radius: 15px;
}


/*
    MEDIA SCREENS =========================================================
*/

@media screen and (max-width: 600px) {
    article.story .storyinfo {
        float: none;
        padding-left: 10px;
        display: block;
    }

    article.story .votes-container {
        position: relative;
        background-color: inherit;
    }
}

@media screen and (max-width: 350px) {
    body > .wrapper > header h1 {
        float: none;
        display: block;
        margin: 0;
        text-align: center;
    }

    body > .wrapper > header nav {
        float: none;
        display: block;
        padding-bottom: 15px;
        margin: 0;
        text-align: center;
    }

}

@media screen and (max-width: 400px){
    body > .wrapper > #stories > header > .container > form {
        float: none;
        width: 100%;
        margin: 0;
        text-align: center;
        padding: 0;
    }

    body > .wrapper > #stories > header > .container > form label {
        padding-left: 10%;
    }

    body > .wrapper > #stories > header {
        padding: 0;
    }

    body > .wrapper > #stories > header > .container > h2 {
        float: none;
        width: 100%;
        margin: 0;
        text-align: center;
    }
}

