/* Global variables */
:root {
    /* Colors */
    --main-bg-color: #eee;

    /* Section login */
    --section-login-bg-color: white;
    --section-login-border-color: #ddd;
    --section-login-footer-bg-color: #eef;

    /* Button */
    --button-bg-color: #bbf;
    --button-hover-bg-color: #aaf;
}

section#login {
    background-color: var(--section-login-bg-color);
    border: 1px solid var(--section-login-border-color);
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    max-width: 750px;
}

section#login input{
    display: block;
    margin: 10px 10%;
    width: 50%;
    max-width: 200px;    
    min-width: 85px;
    font-size: 15px;
    padding: 0.2em;
    border: 1px solid var(--section-login-border-color);
}

section#login h2 {
    padding-top: 20px;
    margin: 20px 10%;
}

section#login footer {
    background-color: var(--section-login-footer-bg-color);
    
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10%;
}

section#login > footer > p > a {
    text-decoration: none;
    color: blue;
}

section#login > footer > p > a:hover {
    text-decoration: underline;
    color: blue;
}

section#login input[type="submit"]{
    border-radius: 10px;
    border:none;
    max-width: 80px;
    padding: 0.5em;
    margin-top: 2em;
    height: 100%;
    background-color: var(--button-bg-color);
    color: white;
}   

section#login input[type="submit"]:hover {
    background-color: var(--button-hover-bg-color);
    cursor:pointer;
}

body {
    background-color:var(--main-bg-color);
}